In [2]:
import pandas as pd
import numpy as np

# Accessing attributes

In [3]:
age_combine = pd.DataFrame({'Class-1':[22,40],'Class-2':[24,50],'Class-3':[20,45]})
age_combine

   Class-1  Class-2  Class-3
0       22       24       20
1       40       50       45

# Attributes

In [4]:
# index attribute
age_combine.index

RangeIndex(start=0, stop=2, step=1)

In [5]:
# columns attribute
age_combine.columns

Index(['Class-1', 'Class-2', 'Class-3'], dtype='object')

# Accessing the values

In [6]:
# values attribute
age_combine.values

array([[22, 24, 20],
       [40, 50, 45]], dtype=int64)